.venv/
docs/
__pycache__/
*.pdf
*.png
*.jpg
*.jpeg
*.csv
*.zip
*.ipynb_checkpoints/
*.pth
*.sh
logs/
checkpoints/
data_cache/
.venv/
.venv
*.pkl


pids.txt
model_images/cnn
model_images/eaml
model_images/hybrid
model_images/lsnet
model_images/resnet
# do not ignore model_images/cnn.png
!model_images/cnn.png
!model_images/eaml.png
!model_images/hybrid.png
!model_images/lsnet.png
!model_images/resnet.png
extracted_data.json
!models/resnet/resnet_sunday_night_baseline.pth
models/
CLAUDE.md
!evaluation_results/*.png
